﻿@page
@model AboutModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Linear Shipping is a premier NVOCC & Freight Forwarder managed by a highly professional team having over extensive experience in the areas of ocean transport. We provide fast, easy, and professional shipping. We have excellent rates for the Middle East, Europe, Australia, Africa, Asia. Linear Shipping and its exclusive network of like-minded agents, at origin and destination, ensure professional service at both ends of the shipping process.

Our main objective is to provide low-cost transportation with high efficiency and enhanced customer satisfaction, which is achieved by us by innovative systems for online rate quotes, bookings, documentation and 24×7 customer support. We are able to maintain sell rates lower than the competition by minimizing costs through system integration and automation as well as by economies of high volumes.
Your shipment is important to us. Our commitment to making your shipping experience the best possible has set us apart from the competition. There’s a reason why 90% of our business is “repeat business.”
For a free no-obligation quote, please access the “Quote Request”, we will review the data and get back to you promptly with a quote </p>
