﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.ContactOneHeader</h3>

<address>
    @Model.ContactOneAddress <br />
    @Model.ContactOneState<br />
    Phone: @Model.ContactOnePhone<br />
    Fax: @Model.ContactOneFax<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:@Model.ContactOneSupportEmail">@Model.ContactOneSupportEmail</a><br />
    <strong>Marketing:</strong> <a href="mailto:@Model.ContactOneMarketingEmail">@Model.ContactOneMarketingEmail</a>
</address>
